<div class="input__container">
  {{#if label}}
  <label class="input__label" for="{{name}}">{{label}}</label>
  {{/if}}
  <input type="{{type}}" class="input {{extraClass}}" placeholder="{{placeholder}}" name="{{name}}" />
  {{#if error}}
  <p class="input__error">{{error}}</p>
  {{/if}}
</div>
