<div class="profile full-center">
  {{{ BackToChats onClick=navigateToChats }}}
  <div class="profile__container">
    {{{ Avatar id='profile-change-image' onClick=onChangeAvatar extraClass='profile__avatar-margin'}}}
    <p class="profile__name">Иван</p>

    <ul class="profile__data-fields profile__data-fields_first">
      {{{ ProfileDataField label='Почта' info='pochta@yandex.ru' }}}
      {{{ ProfileDataField label='Логин' info='ivanivanov' }}}
      {{{ ProfileDataField label='Имя' info='Иван' }}}
      {{{ ProfileDataField label='Фамилия' info='Иванов' }}}
      {{{ ProfileDataField label='Имя в чате' info='Иван' }}}
      {{{ ProfileDataField label='Телефон' info='+7 (999) 999-99-99' }}}
    </ul>

    <ul class="profile__data-fields">
      {{{ ProfileDataField onClick=onChangeData id='profile-change-data' asLink=true text='Изменить данные' }}}
      {{{ ProfileDataField onClick=onChangePassword id='profile-change-password' asLink=true text='Изменить пароль' }}}
      {{{ ProfileDataField onClick=onLogout asLink=true extraClassLink='red' text='Выйти' }}}
    </ul>
  </div>
  {{{ ChangeUserDataModal onClose=onCloseChangeUserData ref='ChangeUserDataModal' id='changeUserDataModal'}}}
  {{{ ChangePasswordModal onClose=onCloseChangePassword ref='ChangePasswordModal' id='changeUserPasswordModal'}}}
  {{{ ChangeAvatarModal onClose=onCloseChangeAvatar ref='ChangeAvatarModal' id='changeUserAvatarModal'}}}
</div>