{{#> Modal extraClass=extraClass ref='modal'}}
{{{ CloseModalButton ref='close_button' onClick=closeModal }}}
<form class="form__change-password">
  <h1 class="title text-center register__title">Смена пароля</h1>
  <div class="register__inputs">
    {{{ Input type='password' validate=validate.old_password name='oldPassword' ref='old_password' label='Старый
    пароль'}}}
    {{{ Input type='password' validate=validate.new_password name='newPassword' ref='new_password' label='Новый
    пароль'}}}
    {{{ Input type='password' validate=validate.new_password_again name='newPasswordAgain' ref='new_password_again'
    label='Повторите новый пароль'}}}
  </div>
  {{{ Button type='submit' text='Сохранить' onClick=onApply }}}
</form>
{{/Modal}}
