<li class="sidebar__chat {{extraClass}}">
  {{#if avatarUrl}}
  <img class="sidebar__chat-avatar" alt="Изображение пользователя" />
  {{else}}
  <div class="sidebar__chat-avatar sidebar__chat-avatar_default"></div>
  {{/if}}
  <div class="sidebar__chat-messages">
    <p class="sidebar__chat-name">{{name}}</p>
    <p class="sidebar__chat-message">
      {{#if lastMessageByMe}}
      <span class="sidebar__chat-message_by-me">Вы:</span>
      {{/if}}
      {{lastMessage}}
    </p>
  </div>
  <div class="sidebar__info">
    <p class="sidebar__info-date">{{date}}</p>
    {{#if unreadCount}}
    <div class="sidebar__info-unread">{{unreadCount}}</div>
    {{/if}}
  </div>
</li>
