{{#> Modal extraClass=extraClass ref='modal'}}
{{{ CloseModalButton ref='close_button' onClick=closeModal }}}
<h3 class="changeAvatarModal__title">
  {{#if fileName}}
  Файл загружен
  {{else}}
  Загрузите файл
  {{/if}}
</h3>
{{#if fileName}}
{{fileName}}
{{else}}
{{{ FileInput name='avatar' extraClass='changeAvatarModal__fileInput-margin'}}}
{{/if}}
{{{ Button text='Поменять'}}}
{{#if error}}
<p class="changeAvatarModal__error">{{error}}</p>
{{/if}}
{{/Modal}}
